body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.total-game-time {
    margin-bottom: 20px;
}

.scoreboard {
    margin-bottom: 20px;
}

.score-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.team {
    display: inline-block;
    text-align: center;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.player-list {
    border: 1px solid #000;
    width: 250px;
    min-height: 200px;
    margin: 0 20px;
    padding: 10px;
}

.fixed-pitch {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.player-slot {
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    min-height: 80px;
    position: relative;
}

.goalkeeper-gloves {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Align player name and time vertically, and button on the right */
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playerDetails {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.playerName {
    font-weight: bold;
}

.playerTime {
    font-size: 0.9em;
    color: gray;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.controls {
    margin-top: 20px;
}

.editForm {
    margin-top: 20px;
}

.toggle-edit {
    margin-top: 10px;
}
