body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.total-game-time, .scoreboard, .controls, .editForm, .toggle-edit, .global-clock-control, .goal-log {
    margin-bottom: 20px;
}

.score-container {
    display: flex;
    justify-content: space-around;
}

.team {
    display: inline-block;
    text-align: center;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.player-list {
    border: 1px solid #000;
    width: 250px;
    min-height: 200px;
    margin: 0 20px;
    padding: 10px;
}

.fixed-pitch {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.player-slot {
    background-color: #f1f1f1;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    min-height: 80px;
    position: relative;
}

.goalkeeper-gloves {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Align player details and time vertically, and buttons on the right */
.player {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px;
}

.playerDetails {
    flex-grow: 1; /* Allow details to take up remaining space */
    text-align: left;
}

.playerName {
    font-weight: bold;
    margin-bottom: 5px;
}

.playerTime {
    font-size: 0.9em;
    color: gray;
}

.goal-btn {
    background-color: #ffcc00;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    margin-left: 10px;
}

.goal-log {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
